In [1]:
abs(100)

100

In [2]:
abs(-20)

20

In [3]:
max(2,5,3,-1)

5

In [4]:
int('123')

123

In [5]:
int(12.34)

12

In [6]:
str(123)

'123'

In [7]:
bool(1)

True

In [8]:
bool('')

False

In [9]:
n1=255
n2=1000
print('255的十六进制表示是：',hex(n1))
print('100的十六进制表示是：',hex(n2))

255的十六进制表示是： 0xff
100的十六进制表示是： 0x3e8

In [14]:
def my_abs(x):
    if not isinstance(x,(int,float)):
        raise TypeError('bad operand type')
    if x>=0:
        return x
    else:
        return -x
#a=int(input('请输入一个数字:'))
#print('这个数字的绝对值是：',my_abs(a))
my_abs(-3)

3

In [12]:
def nop():
    pass

In [16]:
import math
def move(x,y,step,angle=0):
    nx=x+step*math.cos(angle)
    ny=y-step*math.sin(angle)
    return nx,ny
x,y=move(100,100,60,math.pi/6)
print(x,y)

151.96152422706632 70.0

In [18]:
import math
def quadratic(a,b,c):
    x1=(-b+math.sqrt(b**2-4*a*c))/(2*a)
    x2=(-b-math.sqrt(b**2-4*a*c))/(2*a)
    return x1,x2
print('quadratic(2,3,1)=',quadratic(2,3,1))
print('quadratic(1,3,-4)=',quadratic(1,3,-4))

quadratic(2,3,1)= (-0.5, -1.0)
quadratic(1,3,-4)= (1.0, -4.0)

In [19]:
def power(x):
    return x*x
power(5)

25

In [22]:
def power(x,n=2):
    s=1
    while n>0:
        n=n-1
        s=s*x
    return s
power(5,2)

25

In [23]:
power(5)

25

In [24]:
power(5,3)

125

In [28]:
def enroll(name,gender,age=6,city='Beijing'):
    print('name:',name)
    print('gender:',gender)
    print('age:',age)
    print('city:',city)
enroll('Sarah','F')

name: Sarah
gender: F
age: 6
city: Beijing

In [29]:
enroll('Bob','M',7)

name: Bob
gender: M
age: 7
city: Beijing

In [35]:
def add_end(L=None):
    if L is None:
        L=[]
    L.append('END')
    return L
add_end([1,2,3])

[1, 2, 3, 'END']

In [36]:
add_end()

['END']

In [37]:
add_end()

['END']

In [38]:
def calc(*numbers):
    sum=0
    for x in numbers:
        sum=sum+x*x
    return sum
calc(1,2,3)

14

In [39]:
calc()

0

In [40]:
nums=[1,2,3]
calc(*nums)

14

In [43]:
def person(name,age,**kw):
    print('name:',name,'age:',age,'other:',kw)
person('Michael',30)

name: Michael age: 30 other: {}

In [46]:
person('Bob',35,city='Beijing')
person('Adam',40,city='Tianjin',job='Engineer')

name: Bob age: 35 other: {'city': 'Beijing'}
name: Adam age: 40 other: {'city': 'Tianjin', 'job': 'Engineer'}

In [47]:
extra={'city':'Beijing','job':'Engineer'}
person('Jack',24,**extra)

name: Jack age: 24 other: {'city': 'Beijing', 'job': 'Engineer'}

In [50]:
def person(name,age,**kw):
    if 'city' in kw:
        pass
    if 'job' in kw:
        pass
    print('name:',name,'age:',age,'other:',kw)
person('Adam',40,city='Tianjin',job='Engineer',zipcode=123)

name: Adam age: 40 other: {'city': 'Tianjin', 'job': 'Engineer', 'zipcode': 123}

In [52]:
def person(name,age,*,city='Beijing',job):
    print(name,age,city,job)
person('Bob',24,job='Engineer')

Bob 24 Beijing Engineer

In [57]:
def f1(a,b,c=0,*args,**kw):
    print('a=',a,'b=',b,'c=',c,'args=',args,'kw=',kw)
def f2(a,b,c=0,*,d,**kw):
    print('a=',a,'b=',b,'c=',c,'d=',d,'kw=',kw)

In [58]:
f1(1,2)
f1(1,2,3)
f1(1,2,3,'a','b')
f1(1,2,3,'a','b',x=99)
f2(1,2,d=99,ext=None)

a= 1 b= 2 c= 0 args= () kw= {}
a= 1 b= 2 c= 3 args= () kw= {}
a= 1 b= 2 c= 3 args= ('a', 'b') kw= {}
a= 1 b= 2 c= 3 args= ('a', 'b') kw= {'x': 99}
a= 1 b= 2 c= 0 d= 99 kw= {'ext': None}

In [60]:
args=(1,2,3)
kw={'d':99,'x':'#'}
f1(*args,**kw)
f2(*args,**kw)

a= 1 b= 2 c= 3 args= () kw= {'d': 99, 'x': '#'}
a= 1 b= 2 c= 3 d= 99 kw= {'x': '#'}

In [62]:
def product(*numbers):
    value=1
    for x in numbers:
        value=value*x
    return value
print('product(5)=',product(5))
print('product(5,6)=',product(5,6))
print('product(5,6,7)=',product(5,6,7))
print('product(5,6,7,9)=',product(5,6,7,9))

product(5)= 5
product(5,6)= 30
product(5,6,7)= 210
product(5,6,7,9)= 1890

In [63]:
def fact(n):
    if n==1:
        return 1
    return n*fact(n-1)
fact(1)

1

In [64]:
fact(5)

120

In [65]:
fact(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [66]:
def fact(n):
    return fact_iter(n,1)
def fact_iter(num,product):
    if num==1:
        return product
    return fact_iter(num-1,num*product)
fact(5)

120

In [69]:
def move(n,a,b,c):
    if n==1:
        print(a,'-->',c)
        return
    move(n-1,a,c,b)
    move(1,a,b,c)
    move(n-1,b,a,c)
move(3,'A','B','C')

A --> C
A --> B
C --> B
A --> C
B --> A
B --> C
A --> C