In [1]:
f=abs
f(-10)

10

In [3]:
def add(x,y,f):
    return f(x)+f(y)

print(add(-5,6,abs))

11

In [5]:
def f(x):
    return x*x
r=map(f,[1,2,3,4,5,6,7,8,9])
list(r)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
list(map(str,[1,2,3,4]))

['1', '2', '3', '4']

In [8]:
from functools import reduce
def add(x,y):
    return x+y
reduce(add,[1,2,3,4])

10

In [9]:
from functools import reduce 
def fn(x,y):
    return x*10+y
reduce(fn,[1,2,3,4,5])

12345

In [10]:
def char2num(s):
    digits={'0':0,'1':1,'2':2,'3':3,'4':4,'5':5,'6':6,'7':7,'8':8,'9':9}
    return digits[s]
reduce(fn,map(char2num,'12345'))

12345

In [11]:
from functools import reduce
DIGITS={'0':0,'1':1,'2':2,'3':3,'4':4,'5':5,'6':6,'7':7,'8':8,'9':9}

def str2int(s):
    def fn(x,y):
        return x*10+y
    def char2num(s):
        return DIGITS[s]
    return reduce(fn,map(char2num,s))

str2int('12345')

12345

In [12]:
from functools import reduce
DIGITS={'0':0,'1':1,'2':2,'3':3,'4':4,'5':5,'6':6,'7':7,'8':8,'9':9}

def char2num(s):
    return DIGITS[s]

def str2int(s):
    return reduce(lambda x,y:x*10+y,map(char2num,s))

str2int('12345')

12345

In [20]:
def normalize(name):
    name=name[0].upper()+name[1:].lower()
    return name

L1=['adam','LISA','barT']
L2=list(map(normalize,L1))
print(L2)

['Adam', 'Lisa', 'Bart']

In [21]:
from functools import reduce
def mulit(x,y):
    return x*y
def prod(L):
    return reduce(mulit,L)

print('3*5*7*9=',prod([3,5,7,9]))
if prod([3,5,7,9])==945:
    print('测试成功！')
else:
    print('测试失败！')

3*5*7*9= 945
测试成功！

In [44]:
from functools import reduce

def str2float(s):
    def fn(x,y):
        return x*10+y
    n=s.index('.')
    s1=list(map(int,s[:n]))
    s2=list(map(int,s[n+1:]))
    return reduce(fn,s1)+reduce(fn,s2)/pow(10,len(s2))
print('str2float(\'123.456\') =', str2float('123.456'))
if abs(str2float('123.456') - 123.456) < 0.00001:
    print('测试成功!')
else:
    print('测试失败!')

str2float('123.456') = 123.456
测试成功!

In [49]:
def is_odd(n):
    return n%2==1

list(filter(is_odd,[1,2,3,4,5,6,7,8,9,10,15]))

[1, 3, 5, 7, 9, 15]

In [50]:
def not_empty(s):
    return s and s.strip()

list(filter(not_empty,['A','','B',None,'C','  ']))

['A', 'B', 'C']

In [1]:
def _odd_iter():
    n=1
    while True:
        n=n+2
        yield n

def _not_divisible(n):
    return lambda x:x%n>0
        
def primes():
    yield 2
    it = _odd_iter()
    while True:
        n = next(it)
        yield n
        it = filter(_not_divisible(n),it)

for n in primes():
    if n<1000:
        print(n)
    else :
        break

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [3]:
def is_palindrome(n):
    str_x=str(n)
    str_y=str_x[::-1]#倒序输出
    if str_y==str_x:
        return n
output = filter(is_palindrome,range(1,1000))
print('1-1000：',list(output))
if list(filter(is_palindrome,range(1,200)))==[1,2,3,4,5,6,7,8,9,11,22,33,44,55,66,77,88,99,101,111,121,131,141,151,161,171,181,191]:
    print('测试成功！')
else:
    print('测试失败！')

1-1000： [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]
测试成功！

In [4]:
sorted([36,5,-12,9,-21])

[-21, -12, 5, 9, 36]

In [5]:
sorted([36,5,-12,9,-21],key=abs)

[5, 9, -12, -21, 36]

In [7]:
sorted(['bob','about','Zoo','Credit'])

['Credit', 'Zoo', 'about', 'bob']

In [8]:
sorted(['bob','about','Zoo','Credit'],key=str.lower)

['about', 'bob', 'Credit', 'Zoo']

In [9]:
sorted(['bob','about','Zoo','Credit'],key=str.lower,reverse=True)

['Zoo', 'Credit', 'bob', 'about']

In [3]:
L=[('Bob',75),('Adam',92),('Bart',66),('Lisa',88)]
def by_name(t):
    return t[0]

def by_score(t):
    return t[1]

L1=sorted(L,key=by_name)
print(L1)

L2=sorted(L,key=by_score)
print(L2)

L3=sorted(L,key=by_score,reverse=True)
print(L3)

[('Adam', 92), ('Bart', 66), ('Bob', 75), ('Lisa', 88)]
[('Bart', 66), ('Bob', 75), ('Lisa', 88), ('Adam', 92)]
[('Adam', 92), ('Lisa', 88), ('Bob', 75), ('Bart', 66)]